<div class="m-category">
    <div class="m-category__info">
      <div class="m-category__info__container">
        <h3 id="weatherHeaderSection" class="m-category__title"></h3>
        <img id="weatherStatusImage" class="m-category__icon" src="images/cloud-sun.svg" alt="">
        <span id="viewTemperature" class="m-category__weather-message"></span>
        <h2 id="weatherStatus" class="m-category__weather-message-2"></h2>
        <p id="sectionIntroduction" class="m-category__text"></p>
      </div>
    </div>
    <div id="sectionImage" class="m-category__image" style="background-image: url(/images/boardgames.jpg);">
    </div>
  </div>

<div id="mtb-hide">
    <section class="category-mtb">
        <p class="userLocation"><%= user.location %></p>
        <h2 id="weatherHeaderMTB">The weather is great! Find some people to Mountainbike with:</h2>
        <div>
            <!--       Category 1   Results        -->
            <% for (let i = 0; i < dataMTB.length; i++) { %>
            <article>
                <a href="/<%= dataMTB[i].profileId %>">
                    <img src="<%= dataMTB[i].avatar %>" alt="Profile photo">
                    <h4>
                        <%= dataMTB[i].firstname %> • <%= dataMTB[i].age %>
                    </h4>
                    <p>
                        <%= dataMTB[i].location %>
                    </p>
                </a>
            </article>
            <% } %>
        </div>
    </section>
</div>

<div id="games-hide">
    <section class="category-games">
        <p class="userLocation"><%= user.location %></p>
        <h2 id="weatherHeaderGames">The weather is great! Find some people to Mountainbike with:</h2>
        <div>
            <!--       Category 1   Results        -->
            <% for (let i = 0; i < dataGames.length; i++) { %>
            <article>
                <a href="/<%= dataGames[i].profileId %>">
                    <img src="<%= dataGames[i].avatar %>" alt="Profile photo">
                    <h4>
                        <%= dataGames[i].firstname %> • <%= dataGames[i].age %>
                    </h4>
                    <p>
                        <%= dataGames[i].location %>
                    </p>
                </a>
            </article>
            <% } %>
        </div>
    </section>
</div>