<div class="m-category">
    <div class="m-category__info">
        <div class="m-category__info__container">
            <h3 id="weatherHeaderSection" class="m-category__title"></h3>
            <img id="weatherStatusImage" class="m-category__icon" src="images/cloud-sun.svg" alt="">
            <span id="viewTemperature" class="m-category__weather-message"></span>
            <h2 id="weatherStatus" class="m-category__weather-message-2"></h2>
            <p id="sectionIntroduction" class="m-category__text"></p>
        </div>
    </div>
    <div id="sectionImage" class="m-category__image" style="background-image: url(/images/boardgames.jpg);">
    </div>
</div>

<div id="mtb-hide">
    <section class="category-mtb">
        <p class="userLocation"><%= user.location %></p>
        <h2 id="weatherHeaderMTB">The weather is great! Find some people to Mountainbike with:</h2>
        <div>
            <% for (let i = 0; i < dataWeather.length; i++) { %>
            <article>
                <a href="/<%= dataWeather[i].username %>">
                    <img src="<%= dataWeather[i].avatar %>" alt="Profile photo">
                    <h4>
                        <%= dataWeather[i].firstname %>
                    </h4>
                    <p>
                        <%= dataWeather[i].location %>
                    </p>
                </a>
            </article>
            <% } %>
        </div>
    </section>
</div>