<section class="header-intro-detail">
    <a href="/overview">Back to overview</a>
<div class="like-button-intro">

        <p>
            <%= data.sureName %>,
                <%= data.age %>
                    <span>
                        <%= data.work %>
                    </span>
        </p>
<!-- Checking to place a match or unmatch button -->
          <form action="/profile-detail" method="POST" class="<%= data.Match %>"> %>
            <% if (data.Match == false) { %>
               <button name="like" type="submit" value="yes|<%= data._id %>">Like</button> 
               <% } %>

            <% if (data.Match == true) { %>
                <button  name="like" type="submit" value="<%= data._id %>">unmatch</button> 
            <% } %>
              </form> 
              
              

    



    </div>

    <h1>
        <%= data.sentence %>
    </h1>
    
</section>