<%- include('partials/shared/html-open.ejs'); %>
<%- include('partials/globals/header.ejs'); %>

<main>
  <div class="p-home">
    <div class="p-home__banner">
      <div class="p-home__banner__container">
        <div class="p-home__banner__left">
          <h1>Look at other people with the same interests!</h1>
        </div>
        <div class="p-home__banner__right">
          <h2>Check who you have already matched with!</h2>
          <button>My matches</button>
        </div>
      </div>
    </div>

    <%- include('includes/section_users.ejs'); %>



    <% if (locals.user) { %>
    <%- include('includes/section_weather.ejs'); %>
    <% } %>

    <%- include('includes/section_boardgames.ejs'); %>
    <%- include('includes/section_comics.ejs'); %>
  </div>
</main>

<%- include('partials/globals/footer.ejs'); %>
<%- include('partials/shared/html-close.ejs'); %>