<%- include('includes/head.ejs'); %>
<%- include('includes/header.ejs'); %>


<% if (locals.data) { %>
    <% for (let i = 0; i < data.length; i++) { %>
    <article>
        <a href='/mymatches/<%= data[i].username %>'>
            <img src='<%= data[i].avatar %>' alt='Profile photo' />
            <h4>
                <%= data[i].firstname %>
            </h4>
            <p>
                <%= data[i].age %>
            </p>
            <p>
                <%= data[i].location %>
            </p>
        </a>
    </article>
    <% } %>
    <% } if (locals.data == ''){ %>
        <h1>You have  no matches yet</h1>
        <p>You can get matches to like someones profile</p>
        <a href="/">See interesting profiles</a>

    <% } %>


    <%- include('includes/footer.ejs'); %>
