<%- include('includes/head.ejs'); %>

<body>
    <%- include('includes/header.ejs'); %>
    <main>

        <section class="profilePage">
            <form action="/likedebug" method="POST">
                <p>this button is for debugging</p>
                <button value="INSERTIDVALUEHERE">Like</button>
            </form>
            <!-- Doesnt look good at all, but just needed this to make it work with the backend code. -->
            <h2>Profile</h2>
            <form class="profile__edit__form" id="edit_profile" action="/profile" method="POST">
                <% if (locals.data) { %>
                <span class="sign-up--failed">The username <span class="takenUsername"><%= data.editUser %></span> is
                    already taken, please choose a different one.</span>
                <% } %>
                <label for="editUser">Username</label>
                <p><%= user.username %></p>
                <input class="no-error" type="text" name="editUser" id="editUser" value="<%= user.username %>">
                <label for="editLocation">Location</label>
                <p><%= user.location %></p>
                <input class="no-error" type="text" name="editLocation" id="editLocation" value="<%= user.location %>">
                <label for="editDescription">Description</label>
                <p><%= user.description %></p>
                <textarea name="editDescription" id="editDescription" cols="30"
                    rows="10"><%= user.description %></textarea>
                <button class="profile__save">Save changes</button>
            </form>
        </section>
    </main>
    <%- include('includes/footer.ejs'); %>
    <%- include('includes/scripts.ejs'); %>
</body>


<!-- 
    RESOURCE: Dummy user profile pictures
zcool.com.cn. (n.d.). Cartoon characters [Illustratie]. 
Retrieved from https://all-free-download.com/free-vector/download/cartoon-characters-01-vector_181114.html -->